:host {
  display: flex;
  width:100%;
  justify-content: space-between;
  .filters {
    display: flex;
    flex-direction: row;
    li {
      cursor: pointer;
      margin-right: 3.2rem;
      border-bottom: 1px solid transparent;
      padding-bottom: 0.5rem;
      color: #373F41;

      &.active-filter, &:hover{
        color: var(--main-green);
        border-bottom-color: var(--main-green);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
