<div class="tooltip">
    <span class="tooltip-text">Tooltip Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi minima
        ex sapiente quis error nisi et accusamus, maiores expedita perspiciatis adipisci a saepe odio, sit atque.
        Perferendis, officiis aliquam.
        Atque ut at modi vel voluptatem provident blanditiis nostrum tenetur laudantium iste delectus, ex beatae
        consectetur magnam quisquam nam culpa libero ipsum minus ullam nemo illo perspiciatis amet odit? Cum!</span>
    <p>i</p>
</div>