<section class="tariff-wrapper">
    <ul>
        <li class="tariff-plan">
            <h3>Promo 30 days</h3>
            <ul>
                <li>
                    <p>Комиссия за акцию</p>
                    <div><span>0</span> <span>EUR</span></div>
                </li>
                <li>
                    <p>Минимальная комиссия за сделку</p>
                    <div><span>0</span> <span>EUR</span></div>
                </li>
                <li>
                    <p>Стоимость в месяц</p>
                    <div><span>0</span> <span>EUR</span></div>
                </li>
            </ul>
        </li>
        <li class="tariff-plan">
            <h3>Smart in EUR</h3>
            <ul>
                <li>
                    <p>Комиссия за акцию</p>
                    <div><span>0.02</span> <span>EUR</span></div>
                </li>
                <li>
                    <p>Минимальная комиссия за сделку</p>
                    <div><span>2</span> <span>EUR</span></div>
                </li>
                <li>
                    <p>Стоимость в месяц</p>
                    <div><span>0</span> <span>EUR</span></div>
                </li>
            </ul>
        </li>
        <li class="tariff-plan">
            <h3>Fix in EUR</h3>
            <ul>
                <li>
                    <p>Комиссия за акцию</p>
                    <div><span>0.012</span> <span>EUR</span></div>
                </li>
                <li>
                    <p>Минимальная комиссия за сделку</p>
                    <div><span>1.2</span> <span>EUR</span></div>
                </li>
                <li>
                    <p>Стоимость в месяц</p>
                    <div><span>10</span> <span>EUR</span></div>
                </li>
            </ul>
        </li>
        <li class="tariff-plan">
            <h3>Super in EUR</h3>
            <ul>
                <li>
                    <p>Комиссия за акцию</p>
                    <div><span>0.008</span> <span>EUR</span></div>
                </li>
                <li>
                    <p>Минимальная комиссия за сделку</p>
                    <div><span>1.2</span> <span>EUR</span></div>
                </li>
                <li>
                    <p>Стоимость в месяц</p>
                    <div><span>200</span> <span>EUR</span></div>
                </li>
            </ul>
        </li>
    </ul>
</section>