@import 'src/app/shared/styles/_mixins';

.articles-nav-wrapper {
  padding-top: 9rem;
  max-width: 25.5rem;
  min-width: 20rem;
}

@include touch {
  .articles-nav-wrapper {
    padding-top: 2rem;
    min-width: 100%;
  }
}
