/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
//.container:hover input ~ .checkmark {
//  background-color: #e0e0e0;
//}

/* When the checkbox is checked, add a blue background */
//.container input:checked ~ .checkmark {
//}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.7rem;
  top: 0.3rem;
  width: 0.5rem;
  height: 1rem;
  border: solid #000000;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}
