header {
  padding: 1.93rem 0;
  overflow: hidden;
}
.content {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

//app-header-language-switcher {
//  display: flex;
//  width: 17.8rem;
//}
