.social-icon {
  display: flex;
  background-color: var(--white);
  padding: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  background-repeat: no-repeat;
  background-position: 9px 4px;
  border-radius: 50%;
}
