<article class="articles-block">
  <h2 class="articles-block-title" [style.backgroundColor]="backgroundColor">{{ title }}</h2>
  <ul class="articles-block-list">
    <li class="article"><a class="article-link" href="#">Мода на гейминг или ETF выгодных вложений? Разбор</a></li>
    <li class="article"><a class="article-link" href="#">Как получать пассивный доход? Обучение</a></li>
    <li class="article"><a class="article-link" href="#">Как правильно застраховать недвижимость</a></li>
  </ul>
</article>
