<section class="useful-articles grayed-bg">
  <section class="content">
    <h2 class="section-header">Полезные статьи для вас</h2>
    <app-sections-tags-filter [tag]="filter"></app-sections-tags-filter>
    <section class="articles-list">
      <ng-container *ngIf="data">
        <article class="article-item" *ngFor="let article of data">
          <figure class="img-wrapper">
            <img src="{{ article.imageUrl }}" alt="{{ article.title }}" />
          </figure>
          <h3>{{ article.title }}</h3>
          <p>{{ article.description }}</p>
          <span class="link-wrapper">
            <a href="{{ article.id }}">Далее</a>
          </span>
        </article>
      </ng-container>
    </section>
  </section>
</section>
