@import 'src/app/shared/styles/_mixins';

footer {
  padding: 3rem 0 5rem 0;
  background-color: #455053;
  color: var(--white);
  margin-top: 2rem;
  .content {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      flex: 1 1 30%;
      ::ng-deep app-navigation-links {
        li {
          margin-bottom: 1.4rem;
          a {
            font-weight: 500;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1 1 70%;
      margin-top: 2rem;

      ::ng-deep app-navigation-links {
        justify-content: right;
        nav {
          display: flex;
          flex-direction: column;
          text-align: center;

          li {
            display: flex;
            justify-content: center;
            margin-left: 0;

            a {
              color: #b5b5b5;
              font-size: 1.2rem;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 4.4rem;

        app-social-icon {
          margin-right: 3rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .copyright {
      font-size: 1.2rem;
      margin-top: 3.3rem;
      text-align: center;
    }
  }
}

@include tablet {
  footer {
    margin-top: 3.3rem;
    .content {
      flex-direction: row;
      text-align: left;
    }
    .left {
      ::ng-deep app-navigation-links {
        display: flex;
        justify-content: center;
      }
    }
    .right {
      ::ng-deep nav {
        flex-direction: row;
        text-align: left;
        li {
          margin-left: 3.2rem;
        }
      }
    }
  }

  .copyright {
    margin-top: 5.6rem;
  }
}

@include desktop-normal {
  .content {
    .left {
      ::ng-deep app-navigation-links {
        justify-content: left;
      }
    }
  }
}
