<footer>
  <section class="content">
    <div class="left">
      <app-navigation-links [links]="navigationMainRoutes" linkClassName="hover-underlined"></app-navigation-links>
    </div>
    <div class="right">
      <app-navigation-links [links]="navigationAdditionalRoutes" [activeClass]="undefined" linkClassName="hover-underlined"></app-navigation-links>
      <div class="social-icons">
        <app-social-icon
          [styles]="{
            'background-image': 'url(assets/images/social-icons-sprite.svg)',
            'background-position': '1rem 0.4rem'
          }"
        ></app-social-icon>
        <app-social-icon
          [styles]="{
            'background-image': 'url(assets/images/social-icons-sprite.svg)',
            'background-position': '-3rem 0.7rem'
          }"
        ></app-social-icon>
        <app-social-icon
          [styles]="{
            'background-image': 'url(assets/images/social-icons-sprite.svg)',
            'background-position': '-6.7rem 0.3rem'
          }"
        ></app-social-icon>
      </div>
      <p class="copyright">© 2020–2022, ООО «ПИКАЧУ.КОМ». При использовании материалов гиперссылка на pickachy.com обязательна</p>
    </div>
  </section>
</footer>
