@import 'src/app/shared/styles/_mixins';

.loans {
  margin-top: 0.9rem;
  .loans-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
    article.loans-list-item {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      max-width: 100%;
      border: 0.1rem solid #e2e3e3;
      margin-top: 1.7rem;
      text-align: center;

      .image-wrapper {
        padding: 1rem 0 1rem 1.3rem;
        background-color: #f0f0f0;
      }
      .description {
        padding-left: 1.3rem;
        color: #373f41;
        p {
          margin-top: 1.3rem;
          display: flex;
          flex-direction: row;
          &:first-child {
            margin-top: 1.5rem;
          }
          span {
            font-size: 1.6rem;

            &.key {
              margin-right: 1.8rem;
              min-width: 21%;
            }

            &.bold {
              font-weight: bold;
            }

            &.greened {
              color: var(--main-green);
            }
          }
        }
      }
    }
  }
}

.buttons {
  display: flex;
  margin-top: 2.1rem;
  align-items: center;
  margin-bottom: 0.9rem;
  justify-content: center;
  padding: 0 0.9rem;
  a {
    padding: 1.2rem 1.8rem;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .get-money-btn {
    flex: 1 1 auto;
    background-color: #7cb558;
    color: var(--white);
    border-radius: 0.3rem;
    margin-right: 1.4rem;
  }
  .details-btn {
    border: 0.1rem solid var(--black);
  }
}

@include desktop {
  article.loans-list-item {
    transition: box-shadow var(--transition-duration) linear;
    a {
      transition: background-color var(--transition-duration) linear;

      &:hover {
        background-color: var(--orange);
      }
    }
    .details-btn {
      transition: color var(--transition-duration) linear;

      &:hover {
        color: var(--white);
      }
    }
    &:hover {
      box-shadow: var(--box-shadow);
    }
  }
}
