header{
  background-color: var(--background-grey-block-color);
  padding: 1.93rem 0;

  .content{
    flex-direction: row;
  }

  app-header-logo{
    width:30%;
  }
  app-header-navigation{
    width:70%;
  }

  app-header-language-switcher{
    display:flex;
    width:17.8rem;
  }
}
