<section class="brokers-page">
    <section class="content">
        <section>Title and navigation</section>
        <section class="brokers-list-wrapper">
            <ul class="brokers-list">
                <li class="brokers-list-item">
                    <div class="broker-app-preview"><a class="broker-site-link" href="#"><img class="broker-img" src="#"
                                alt="#"></a>
                        <div class=""></div>
                        <div class="broker-app-rating">
                            <div class="app-store-rating"></div>
                            <div class="play-market-rating"></div>
                        </div>
                    </div>
                    <div class="broker-detail">

                    </div>
                </li>
            </ul>
        </section>
    </section>
</section>