<div class="wrapper">
  <button (click)="onClick()"><img src="assets/images/single-news-page/share.svg" alt="" /></button>
  <div class="share-wrapper" [ngClass]="hidden ? 'hide' : ''">
    <ul class="share-social-networks">
      <li>
        <a class="share-link" href="#">
          <img width="18px" src="assets/images/single-news-page/social-icons/navigation.svg" alt="Telegram" />
          <p>Telegram</p>
        </a>
      </li>
      <li>
        <a class="share-link" href="#"
          ><img width="18px" src="assets/images/single-news-page/social-icons/facebook.svg" alt="Facebook" />
          <p>Facebook</p>
        </a>
      </li>
      <li>
        <a class="share-link" href="#">
          <img width="18px" src="assets/images/single-news-page/social-icons/twitter.svg" alt="Twitter" />
          <p>Twitter</p>
        </a>
      </li>
      <li>
        <a class="share-link" href="#"
          ><img width="18px" src="assets/images/single-news-page/social-icons/linkedin.svg" alt="Linkedin" />
          <p>Linkedin</p>
        </a>
      </li>
      <li>
        <a class="share-link" href="#">
          <img width="18px" src="assets/images/single-news-page/social-icons/link.svg" alt="Копировать ссылку" />
          <p>Копировать ссылку</p>
        </a>
      </li>
    </ul>
  </div>
</div>
