<section class="additional-links">
  <section class="content">
    <h2 class="section-header">Часто ищут</h2>
    <div class="additional-links-list">
      <div class="additional-links-item">
        <h3>Кредиты</h3>
        <span><a href="" class='hover-underlined'>Без справок о доходах</a></span>
        <span><a href="" class='hover-underlined'>В день обращения</a></span>
        <span><a href="" class='hover-underlined'>Самые выгодные</a></span>
        <span><a href="" class='hover-underlined'>Наличными</a></span>
      </div>
      <div class="additional-links-item">
        <h3>Ипотека</h3>
        <span><a href="" class='hover-underlined'>Без первоначального взноса</a></span>
        <span><a href="" class='hover-underlined'>Для молодой семьи</a></span>
        <span><a href="" class='hover-underlined'>Государственная</a></span>
        <span><a href="" class='hover-underlined'>Самая выгодная</a></span>
      </div>
      <div class="additional-links-item">
        <h3>Кредитные карты</h3>
        <span><a href="" class='hover-underlined'>Без справок о доходах</a></span>
        <span><a href="" class='hover-underlined'>С льготным периодом</a></span>
        <span><a href="" class='hover-underlined'>Для снятия наличных</a></span>
        <span><a href="" class='hover-underlined'>Для студентов</a></span>
      </div>
      <div class="additional-links-item">
        <h3>Вклады</h3>
        <span><a href="" class='hover-underlined' class='hover-underlined'>Мультивалютные</a></span>
        <span><a href="" class='hover-underlined'>Самые выгодные</a></span>
        <span><a href="" class='hover-underlined'>С пополнением</a></span>
        <span><a href="" class='hover-underlined'>Пенсионные</a></span>
      </div>
    </div>
  </section>
</section>
