<section class="partners">
  <section class="content">
    <h2 class="section-header">Наши банковские партнеры</h2>
    <div class="partners-list">
      <figure class="partner-item">
        <img src="assets/images/home-page/partners/privatbank.png" alt="privatbank" />
      </figure>
      <figure class="partner-item">
        <img src="assets/images/home-page/partners/privatbank.png" alt="privatbank" />
      </figure>
      <figure class="partner-item">
        <img src="assets/images/home-page/partners/privatbank.png" alt="privatbank" />
      </figure>
      <figure class="partner-item">
        <img src="assets/images/home-page/partners/privatbank.png" alt="privatbank" />
      </figure>
    </div>
    <div class="partners-list">
      <figure class="partner-item">
        <img src="assets/images/home-page/partners/privatbank.png" alt="privatbank" />
      </figure>
      <figure class="partner-item">
        <img src="assets/images/home-page/partners/privatbank.png" alt="privatbank" />
      </figure>
      <figure class="partner-item">
        <img src="assets/images/home-page/partners/privatbank.png" alt="privatbank" />
      </figure>
      <figure class="partner-item">
        <img src="assets/images/home-page/partners/privatbank.png" alt="privatbank" />
      </figure>
    </div>
  </section>
</section>
