<section class="content">
  <section class="description">
    <h1>Займы онлайн</h1>
    <p>
      На {{ currentDate }} вам доступно {{ loansCount }} займов со ставкой от 0% в день. Увеличьте шансы на получение денег — отправьте заявку минимум
      в две МФО.
    </p>
  </section>
  <!--  <app-sections-tags-filter [tag]="loansTagFilter" theme="circled" [alignCenter]="true"></app-sections-tags-filter>-->
</section>
<!--<app-page-loans-in-advance-sections-sorting-filter [data]="sortingFilter"></app-page-loans-in-advance-sections-sorting-filter>-->
<app-page-loans-in-advance-sections-loans-list [data]="loans"></app-page-loans-in-advance-sections-loans-list>
<!--<app-sections-useful-articles [filter]="articlesTagFilter" [data]="articles"></app-sections-useful-articles>-->
<!--<app-page-home-section-advantages></app-page-home-section-advantages>-->
<!--<app-page-home-section-additional-links></app-page-home-section-additional-links>-->
