:root {
  --grey-section-background: #f0f0f0;
  --main-green: #669b45;
  --light-main-green: #e0ebda;
  --light-green-btn: #85af6a;
  --white: #ffffff;
  --black: #000000;
  --orange: #e89a26;
  --light-orange-btn: #edae51;
  --azure: #5db9c6;
  --light-azure: #dff1f4;
  --header-grey: #455053;
  --transition-duration: 70ms;
  --box-shadow: 0 0.4rem 0.4rem #bfbfbf;
  --input-error: red;
}
