<div class="comments-wrapper">
    <div class="comments-counter">34 <span>коментария</span></div>
    <form class="comment-form" action="#"><textarea name="comment" id="#" cols="30" rows="1"
            placeholder="Напишите комментарий..."></textarea> <button type="submit"><img
                src="../../../assets/images/single-news-page/arrow-right.svg" alt=""></button></form>
    <ul class="comments-list">
        <li class="comment-item">
            <p class="comment-author-name">Татьяна Иванова</p>
            <P class="comment-text">Рассрочка на наличные дается на три месяца, и никакими подписками
                этот
                срок не увеличить</P>
            <button class="button-answer" type="button">Ответить</button>
            <form class="comment-form hide" action="#"><textarea name="comment" id="#" cols="30" rows="1"
                    placeholder="Напишите комментарий..."></textarea><button type="submit"><img
                        src="../../../assets/images/single-news-page/arrow-right.svg" alt=""></button>
            </form>
        </li>

        <li class="comment-item">
            <p class="comment-author-name">Татьяна Иванова</p>
            <P class="comment-text">Рассрочка на наличные дается на три месяца, и никакими подписками
                этот
                срок не увеличить</P>
            <button class="button-answer" type="button">Ответить</button>
            <form class="comment-form hide" action="#"><textarea name="comment" id="#" cols="30" rows="1"
                    placeholder="Напишите комментарий..."></textarea><button type="submit"><img
                        src="../../../assets/images/single-news-page/arrow-right.svg" alt=""></button>
            </form>
        </li>
        <li class="comment-item">
            <p class="comment-author-name">Татьяна Иванова</p>
            <P class="comment-text">Рассрочка на наличные дается на три месяца, и никакими подписками
                этот
                срок не увеличить</P>
            <button class="button-answer" type="button">Ответить</button>
            <form class="comment-form" action="#"><textarea name="comment" id="#" cols="30" rows="1"
                    placeholder="Напишите комментарий..."></textarea><button type="submit"><img
                        src="../../../assets/images/single-news-page/arrow-right.svg" alt=""></button>
            </form>
        </li>
    </ul>
</div>