@import 'src/app/shared/styles/_mixins';

button {
  border: none;
  background-color: inherit;
}

.brokers-list-item {
  position: relative;
  padding: 0 1rem 1rem 1rem;
  border: 0.1rem solid #b7b7b7;
  margin-bottom: 1rem;
}

.broker-app-preview {
  display: flex;
  flex-direction: column;
}
.link-to-official-site {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #5db9c6;
  color: #ffffff;
  line-height: 4rem;
  font-weight: 400;
  font-size: 1.8rem;
}

.background-logo {
  position: absolute;
  width: 100%;
  height: 7.6rem;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #f7f7f7;
}

.broker-logo {
  padding: 2.1rem 0;
  & img {
    max-width: 13rem;
    align-self: stretch;
  }
}
.app-rating-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  max-width: 48rem;
  width: 100%;
  padding: 2.3rem 0;
  & img {
    max-width: 2rem;
  }
}
.app-rating-list {
  display: flex;
  max-width: 100%;
  & li {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #373f41;
    & img {
      margin-right: 0.5rem;
    }
  }
  & li:not(:last-child) {
    margin-right: 2rem;
  }
}

.broker-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conditions-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3rem 1rem;
  border-bottom: solid 0.085rem #c4c4c4;
  width: 90%;
  &-item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #373f41;

    margin-right: 2.5rem;
  }
  & span {
    font-weight: 400;
    color: #737b7d;
  }
}

.broker-details-wrapper {width: 100%;}
.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .toggle-button-arrow{
    border: solid #3B5597;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.3rem;
    margin-left: 1rem;
    width: 0.2rem;
    height: 0.2rem;
    &.toggle-button-arrow-up{
      transform: rotate(-135deg);
      margin-bottom: -0.2rem;
    }
    &.toggle-button-arrow-down{
      transform: rotate(45deg);
      margin-bottom: 0.2rem;
    }
  }
  & button {
    color: #3b5597;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    font-weight: 500;
  }
  & a {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

@include tablet {
  .broker-app-preview {
    & .app-rating-text,
    .background-logo,
    a {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }
  .broker-logo {
    & img {
      max-width: 14rem;
    }
  }
  .details {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
    & a {
      position: relative;
      top: 0px;
      left: 0px;
      max-width: 17rem;
      margin: 0;
    }
    & button {
      margin: 0;
    }
  }

  .brokers-list-item {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }
  .broker-app-preview {
    justify-content: center;
    align-items: flex-start;
    margin-right: 1.3rem;
    width: 20%;
  }
  .app-rating-wrapper {
    justify-content: flex-start;
  }

  .app-rating-list {
    flex-direction: column-reverse;
    & p {
      line-height: 1.6rem;
    }

    & li {
      margin-right: 1rem;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  .broker-info {
    width: 78%;
  }

  .conditions-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    border: none;
    width: 100%;
    &-item {
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
    }
    &-item:not(:last-child) {
      margin-bottom: 0;
    }
    &-item:last-child {
      margin-right: 4rem;
    }
    & li:nth-last-child(-n + 3) {
      max-width: 17.5rem;
    }
    & li:nth-child(-n + 4) {
      max-width: 12.5rem;
      margin-bottom: 2rem;
      & span {
        padding-top: 2rem;
      }
    }
    & .delimiter {
      width: 100%;
      height: 0.1rem;
      background-color: #b7b7b7;
      margin-bottom: 2rem;
    }
  }
  .broker-details-wrapper {
    align-self: flex-start;
  }
  body {
    background-color: #111;
  }
}
@include desktop-normal {
  .broker-app-preview {
    margin-right: 1.7rem;
  }
  .broker-logo {
    & img {
      max-width: 21rem;
    }
  }
  .app-rating-list {
    max-width: 24rem;
    & img {
      max-width: 2.8rem;
    }
  }

  .conditions-list {

    & li:nth-last-child(-n + 3) {
      max-width: 20rem;
    }
    & li:nth-child(-n + 4) {
      max-width: 20rem;
    }
  }
  .link-to-official-site:hover {
    background-color: #669b45;
  }
}
