@import 'src/app/shared/styles/_mixins';

button {
  background-color: var(--white);
  border: none;
  cursor: pointer;
}

.single-news-item {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}
.single-news-content {
  max-width: 73rem;
  margin-right: 3rem;
}
.single-news-title {
  font-weight: 500;
  line-height: 4.2rem;
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}
.additional-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  & li {
    line-height: 1.7rem;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
.share-section {
  position: relative;
}
.post-item_info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & li:not(:last-child) {
    margin-right: 5rem;
  }
  & img {
    margin-right: 0.3rem;
  }
}

.counters-list {
  display: flex;
  align-items: center;
  & li:not(:last-child) {
    margin-right: 1.2rem;
  }
  & li {
    display: flex;
    align-items: center;
  }
  & img {
    margin-right: 0.3rem;
  }
}

.single-news-illustrations {
  text-align: center;
  margin-bottom: 2rem;
  & .single-news-photo {
    margin-bottom: 1rem;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
  }
  & .photo-caption {
    line-height: 3rem;
    font-size: 1.2rem;
  }
}
.single-news-subtitle {
  font-size: 2rem;
  line-height: 4.2rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.single-news-paragraph {
  line-height: 2.6rem;
  font-size: 1.6rem;
  padding-bottom: 1.8rem;
}
.news-thesis {
  background-color: var(--main-green);
  position: relative;
  color: var(--white);
}
.theses-list-item {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    background-color: var(--main-green);
    border-radius: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}
.paragraph-with-theses {
  padding-left: 3.1rem;
}
.highlighted-paragraph-wrapper {
  padding: 3rem 0 3rem;
}
.highlighted-paragraph {
  padding: 3rem;
  box-sizing: content-box;
  max-width: 60rem;
  margin: 0 auto;
  color: var(--white);
  font-weight: 500;
  line-height: 3rem;
  font-size: 1.6rem;
  font-style: italic;
  background-color: rgba(232, 154, 38, 0.6);
}
.news-author {
  border-top: 0.1rem solid var(--black);
  border-bottom: 0.1rem solid var(--black);
  padding-bottom: 3.2rem;
  & .additional-information {
    padding: 1rem 0;
  }
  &-name {
    font-weight: 400;
    line-height: 2.8rem;
    font-size: 1.6rem;
  }
  &-description {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

@include touch {
  .single-news-item {
    flex-direction: column;
    align-items: center;
  }
  .single-news-content {
    margin: 0;
  }
  .single-news-subtitle {
    line-height: 2.5rem;
  }
  .post-item_info {
    & li:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

@include touch-phone {
  .theses-list-item {
    & p {
      padding-left: 0;
    }
    &::before {
      top: -9999px;
      left: -9999px;
    }
  }
  .reading-time {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
