<section class="single-news-page">
    <section class="content">
        <article class="single-news-item">
            <div class="single-news-content">
                <h1 class="single-news-title">«Халва» Карты рассрочки уже давно не в диковинку, но одна из самых
                </h1>
                <ul class="additional-information">
                    <li class="additional-information-item">
                        <ul class="post-item_info">
                            <li class="date-of-creation"><span>26.07.2021 00:12</span></li>
                            <li class="reading-time"><img src="assets/images/single-news-page/clock.svg" alt="clock">
                                Время чтения <span class="reading-time-data">7
                                </span>мин.</li>                          
                            <li class="counters-wrapper">
                                <app-page-single-news-counters></app-page-single-news-counters>
                            </li>
                        </ul>
                    </li>
                    <li class="additional-information-item share-section"> <button> <img
                                src="assets/images/single-news-page/share.svg" alt="share section"></button>
                        <app-page-share-menu></app-page-share-menu>
                    </li>
                </ul>
                <figure class="single-news-illustrations"><img class="single-news-photo"
                        src="https://www.quasa.io/storage/images/news/wxh3HuwK7y4wcQoyeIBeSxrj8iWDI3p5QnrftIDA.jpg"
                        alt="Внешний вид карты от Совкомбанка">
                    <figcaption class="photo-caption">Внешний вид карты от Совкомбанка</figcaption>
                </figure>
                <h2 class="single-news-subtitle">Оценили, насколько сладкие условия по «Халве» и что в них горчит.</h2>
                <p class="single-news-paragraph">Карты рассрочки уже давно не в диковинку, но одна из самых раскрученных
                    —
                    это, конечно, «Халва» от
                    Совкомбанка. Банк уже много лет так активно рекламирует свой пластик, что бренд «Халва» по
                    известности
                    едва
                    ли не перекрывает бренд самого Совкомбанка.
                    Возможно, более точно суть пластика отражало бы другое название: для него достаточно было бы
                    добавить
                    одну
                    букву, чтобы «Халва» превратилась в «Халяву». По крайней мере, возможности, которые предоставляет
                    карта,
                    вполне тянут на халявные. Судите сами.</p>
                <section>
                    <h2 class="single-news-subtitle">Где подвох?
                    </h2>
                    <ul class="theses-list">
                        <li class="theses-list-item">
                            <p class="single-news-paragraph paragraph-with-theses"><span class="news-thesis">Главная
                                    опция «Халвы» —
                                    это
                                    предоставление
                                    рассрочки на оплачиваемые картой
                                    товары или
                                    услуги.</span> Допустим, вы покупаете телевизор за 60 000 рублей, но расплатиться вы
                                должны
                                не
                                сразу, а, например, за три месяца, то есть каждый месяц надо платить по 20 000 рублей.
                                Если
                                вносить
                                деньги вовремя, никаких проблем и никакой переплаты: вы заплатите ровно столько, сколько
                                стоит
                                телевизор — 60 000 рублей.

                                Народ у нас опытный и не зря придумал поговорку про бесплатный сыр, поэтому в рассрочке
                                всегда
                                видит
                                какой-то подвох: мол, не может быть, чтобы банк да не «нагрел» на чем-нибудь.
                            </p>
                        </li>
                    </ul>
                </section>
                <div class="highlighted-paragraph-wrapper">
                    <p class="highlighted-paragraph">“Первый месяц подписки, кстати, бесплатный. Банк дает возможность
                        еще и
                        отыграться. Вам вернут комиссию
                        за подписку, если не отключать ее весь год, делать не менее пяти покупок в месяц на общую сумму
                        от
                        10
                        000 рублей и не допускать просрочек.”</p>
                </div>
                <p class="single-news-paragraph">Карты рассрочки уже давно не в диковинку, но одна из самых раскрученных
                    —
                    это, конечно, «Халва» от
                    Совкомбанка. Банк уже много лет так активно рекламирует свой пластик, что бренд «Халва» по
                    известности
                    едва
                    ли не перекрывает бренд самого Совкомбанка.
                    Возможно, более точно суть пластика отражало бы другое название: для него достаточно было бы
                    добавить
                    одну
                    букву, чтобы «Халва» превратилась в «Халяву». По крайней мере, возможности, которые предоставляет
                    карта,
                    вполне тянут на халявные. Судите сами.</p>

                <div class="news-author">
                    <ul class="additional-information">
                        <li class="additional-information-item">
                            <app-page-single-news-counters></app-page-single-news-counters>
                        </li>
                        <li class="additional-information-item share-section"><button><img
                                    src="assets/images/single-news-page/share.svg" alt="share menu"></button>
                            <app-page-share-menu class="hide"></app-page-share-menu>
                        </li>
                    </ul>
                    <p class="news-author-name">Дмитрий Веретенников</p>
                    <p class="news-author-description">автор канала о финансах, основатель сети «Эйнштейн-Центр»</p>
                </div>
                <app-page-single-news-tags></app-page-single-news-tags>
                <app-page-single-news-comments></app-page-single-news-comments>
            </div>
            <app-page-single-news-sidebar></app-page-single-news-sidebar>
        </article>
    </section>

</section>