@import 'src/app/shared/styles/_mixins';

.single-news-item {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}
.single-news-content {
  max-width: 73rem;
  min-width: 42rem;
  margin-right: 3rem;
}
.single-news-title {
  font-weight: 500;
  line-height: 4.2rem;
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}
.additional-information {
  display: flex;
  justify-content: space-between;
  & li {
    line-height: 3rem;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.post-item_info {
  display: flex;
  margin-bottom: 0.5rem;

  & li:not(:last-child) {
    margin-right: 5rem;
  }
}
.counters-list {
  display: flex;

  & li {
    margin-right: 1.2rem;
  }
}
.single-news-illustrations {
  text-align: center;
  margin-bottom: 2rem;
  & .single-news-photo {
    margin-bottom: 1rem;
    max-width: 100%;
    object-fit: fill;
  }
  & .photo-caption {
    line-height: 3rem;
    font-size: 1.2rem;
  }
}
.single-news-subtitle {
  font-size: 2rem;
  line-height: 4.2rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.single-news-paragraph {
  line-height: 2.6rem;
  font-size: 1.6rem;
  padding-bottom: 1.8rem;
}
.news-thesis {
  background-color: var(--main-green);
  position: relative;
  color: var(--white);
  &::before {
    content: '';
    position: absolute;
    right: 10rem;
    top: 0.3rem;
    border: 1px solid inherit;
    background-color: var(--main-green);
    border-radius: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}
.paragraph-with-theses {
  padding-left: 3.1rem;
}
.highlighted-paragraph-wrapper {
  padding: 3rem 0 3rem;
}
.highlighted-paragraph {
  padding: 3rem;
  box-sizing: content-box;
  max-width: 60rem;
  margin: 0 auto;
  color: var(--white);
  font-weight: 500;
  line-height: 3rem;
  font-size: 1.6rem;
  font-style: italic;
  background-color: rgba(232, 154, 38, 0.6);
}

.news-author {
  border-top: 0.1rem solid var(--black);
  border-bottom: 0.1rem solid var(--black);
  padding-bottom: 3.2rem;
  & .additional-information {
    padding: 1rem 0;
  }
  &-name {
    font-weight: 400;
    line-height: 2.8rem;
    font-size: 1.6rem;
  }
  &-description {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
.tags-wrapper {
  padding: 1.8rem 0;
  border-bottom: 0.1rem solid var(--black);
}
.tags-list {
  display: flex;
  & li:not(:last-child) {
    margin-right: 0.8rem;
  }
  &-item {
    // line-height: 1.8rem;
    // font-size: 1.2rem;
    border: 0.1rem solid var(--black);
    padding: 0 0.5rem;
  }
  & .tag-delete {
    padding: 0 0.5rem;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    & span {
      font-size: 10px;
    }
  }
}
.tags-link {
  line-height: 1.8rem;
  font-size: 1.2rem;
}
.articles-nav-wrapper {
  padding-top: 9rem;
}

.articles-nav {
  max-width: 25.5rem;
  min-width: 20rem;
}
.articles-block-title {
  line-height: 4.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  background-color: #5db9c633;
}
.first-articles-block-title {
  background-color: #a135d333;
}
.articles-block-list {
  & li {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    padding: 1.5rem 0;
  }
  & li:first-child {
    border-bottom: 0.1rem solid var(--black);
    padding-top: 2.8rem;
  }
  & li:not(:last-child) {
    border-bottom: 0.1rem solid var(--black);
  }
}

@include touch {
  .single-news-item {
    flex-direction: column;
    align-items: center;
  }
  .articles-nav {
    max-width: 100%;
  }
}
