<section class="advantages">
  <section class="content">
    <h2 class="section-header">Почему выбирают нас</h2>
    <section class="advantages-list">
      <div class="advantage-item">
        <figure class="image-composition">
          <span class="image-circle-bg" [style]="{ 'background-color': '#5db9c6' }"></span>
          <img src="assets/images/home-page/advantages/clock.svg" alt="clock" />
        </figure>
        <h3>Актуально</h3>
        <p>Мы ежедневно собираем и обновляем предложения 450 банков и 200 страховых компаний</p>
      </div>
      <div class="advantage-item">
        <figure class="image-composition">
          <span class="image-circle-bg" [style]="{ 'background-color': 'var(--main-green)' }"></span>
          <img src="assets/images/home-page/advantages/coins.svg" alt="coins" />
        </figure>
        <h3>Экономно</h3>
        <p>Вы сможете найти выгодные предложения, что сэкономит не только ваши деньги, но и время</p>
      </div>
      <div class="advantage-item">
        <figure class="image-composition">
          <span class="image-circle-bg" [style]="{ 'background-color': '#e0992f' }"></span>
          <img src="assets/images/home-page/advantages/support.svg" alt="handshake" />
        </figure>
        <h3>Надежно</h3>
        <p>Все данные, которые вы оставляете на сайте, надежно защищены протоколом SSL</p>
      </div>
    </section>
  </section>
</section>
