<section class="content">
  <section class="description">
    <h1>Кредиты до зарплаты</h1>
    <p>Подбор кредита на любые цели и отправка заявки в банк</p>
  </section>
</section>
<app-sections-tags-filter [tag]="loansTagFilter" theme="circled" [alignCenter]="true"></app-sections-tags-filter>
<app-page-loans-in-advance-sections-sorting-filter [data]="sortingFilter"></app-page-loans-in-advance-sections-sorting-filter>
<app-page-loans-in-advance-sections-loans-list></app-page-loans-in-advance-sections-loans-list>
<app-sections-useful-articles [filter]="articlesTagFilter" [data]="articles"></app-sections-useful-articles>
<app-page-home-section-advantages></app-page-home-section-advantages>
<app-page-home-section-additional-links></app-page-home-section-additional-links>
