<section class="additional-links">
  <section class="content">
    <h2 class="section-header">Часто ищут</h2>
    <div class="additional-links-list">
      <div class="additional-links-item">
        <h3>Кредиты</h3>
        <a href="">Без справок о доходах</a>
        <a href="">В день обращения</a>
        <a href="">Самые выгодные</a>
        <a href="">Наличными</a>
      </div>
      <div class="additional-links-item">
        <h3>Ипотека</h3>
        <a href="">Без первоначального взноса</a>
        <a href="">Для молодой семьи</a>
        <a href="">Государственная</a>
        <a href="">Самая выгодная</a>
      </div>
      <div class="additional-links-item">
        <h3>Кредитные карты</h3>
        <a href="">Без справок о доходах</a>
        <a href="">С льготным периодом</a>
        <a href="">Для снятия наличных</a>
        <a href="">Для студентов</a>
      </div>
      <div class="additional-links-item">
        <h3>Вклады</h3>
        <a href="">Мультивалютные</a>
        <a href="">Самые выгодные</a>
        <a href="">С пополнением</a>
        <a href="">Пенсионные</a>
      </div>
    </div>
  </section>
</section>
