@media (min-width: 834px) {
  .phone {
    display: none;
  }

  a.hover-underlined {
    &:hover {
      text-decoration: underline;
    }
  }

  h2.section-header {
    font-size: 2.4rem;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 833px) {
  .pc {
    display: none;
  }

  html {
    h2.section-header {
      font-size: 1.8rem;
    }

    h1 {
      font-size: 2.8rem;
    }

    h2 {
      font-size: 1.8rem;
    }
  }

}
