@import '~@ng-select/ng-select/themes/default.theme.css';

$arrow-color: #737b7d;

.ng-select {
  font-size: 1.4rem;
  .ng-arrow-wrapper {
    width: 1.6rem;
    transition: transform 0.3s;
    margin-left: 0.6rem;
    span {
      &.ng-arrow {
        border-style: solid;
        border-width: 0.2rem 0.2rem 0 0;
        border-color: inherit;
        height: 1rem;
        width: 1rem;
        top: -0.2rem;
        transform: rotate(135deg);
        color: $arrow-color;
      }
    }
  }

  .ng-select-container {
    border: none;
    min-height: auto;
    color: var(--black);
    .ng-value-container{
      padding-left: 0.5rem;
    }
    &:hover {
      box-shadow: none;
    }
  }
  span.ng-clear-wrapper {
    color: $arrow-color;
    margin-left: 0.6rem;
    width:auto;
  }

  .ng-dropdown-panel {
    border: none;
    box-shadow: none;
    .ng-dropdown-panel-items {
      .ng-option {
        &.ng-option-selected {
          background-color: transparent;
          &.ng-option-marked {
            background-color: transparent;
          }
        }
        &.ng-option-marked {
          background-color: var(--orange);
        }
      }
    }
  }
  &.ng-select-single {
    .ng-select-container {
      height: auto;
      .ng-value-container {
        .ng-input{
          top: 0;
        }
      }
    }
  }
  &.ng-select-focused {
    &:not(.ng-select-opened) {
      .ng-select-container {
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
  &.ng-select-opened {
    & > .ng-select-container {
      .ng-arrow-wrapper {
        transform: rotate(180deg);
        opacity: 1;
        .ng-arrow {
          border-color: inherit;
          border-width: 0.2rem 0.2rem 0 0;
        }
      }
    }
    &.ng-select-clearable {
      .ng-select-container {
        &.ng-has-value {
          &:hover {
            .ng-arrow-wrapper {
              opacity: 1;
              pointer-events: auto;
            }
          }
        }
      }
    }
  }
  &.ng-select-clearable {
    &.ng-has-value {
      &:hover {
        .ng-arrow-wrapper {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
  &.ng-select-opened {
    & > .ng-select-container {
      border-color: transparent;
    }
  }
}
[dir='rtl'] .ng-select.ng-select-opened {
  & > .ng-select-container {
    .ng-arrow-wrapper {
      transform: rotate(-180deg);
    }
  }
}
