<section class="loans">
  <section class="content">
    <section class="loans-list">
      <ng-container *ngIf="data">
        <article class="loans-list-item" *ngFor="let item of data">
          <figure class="image-wrapper">
            <img
              src="assets/images/loans-page/loans-in-advance-page/{{ item.providerTypeId + '.' + item.providerImageExtension }}"
              alt="{{ item.providerName }}"
            />
          </figure>
          <div class="padded-content">
            <p>
              <span class="key">Сумма:</span><span class="value bold">{{ item.amountFrom }}грн. - {{ item.amountTo }}грн.</span>
            </p>
            <p>
              <span class="key">Время:</span><span class="value greened">до {{ item.processingTimeMinutes }} минут</span>
            </p>
            <p>
              <span class="key">Срок:</span> <span class="value">от {{ item.termDays }} дней</span>
            </p>
            <p>
              <span class="key">Ставка:</span><span class="value bold">от {{ item.initialDayRate }}%</span>
            </p>
          </div>
          <div class="buttons">
            <a [attr.href]='item.referralLink ? item.referralLink : null' class="get-money-btn" [class.get-money-btn-disabled]="!item.referralLink">Получить деньги</a>
            <a routerLink="loans/mfo/{{ item.providerTypeId }}" class="details-btn">i</a>
          </div>
        </article>
      </ng-container>
    </section>
  </section>
</section>
