@import 'src/app/shared/styles/_mixins';
.padded-content {
  padding-left: 1.3rem;
  color: #373f41;
}
.loans {
  margin-top: 0.9rem;
}
.loans-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  grid-gap: 2rem;
  margin-top: 1.7rem;
  width: 100%;
}
article.loans-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1rem solid #e2e3e3;
  p {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: row;
    &:first-child {
      margin-top: 1.5rem;
    }
    span {
      font-size: 1.6rem;
      text-align: left;

      &.key {
        margin-right: 1.8rem;
        min-width: 23%;
      }

      &.bold {
        font-weight: bold;
      }

      &.greened {
        color: var(--main-green);
      }
    }
  }
}
.image-wrapper {
  padding: 1rem 0 1rem 1.3rem;
  background-color: #f0f0f0;
  text-align: left;

  img {
    max-width: 12rem;
    height: 3.5rem;
    object-fit: contain;
  }
}
.buttons {
  display: flex;
  margin-top: 2.1rem;
  align-items: center;
  margin-bottom: 0.9rem;
  justify-content: center;
  padding: 0 0.9rem;
  text-align: center;

  a {
    padding: 1.2rem 1.8rem;
    font-size: 1.8rem;
    font-weight: bold;
  }
}
.get-money-btn {
  flex: 1 1 auto;
  background-color: #7cb558;
  color: var(--white);
  border-radius: 0.3rem;
  margin-right: 1.4rem;
  white-space: nowrap;

  &.get-money-btn-disabled {
    cursor: default;
    background-color: var(--grey-section-background);
  }
}
.details-btn {
  border: 0.1rem solid var(--black);
}
@include desktop {
  article.loans-list-item {
    transition: box-shadow var(--transition-duration) linear;
    a {
      transition: background-color var(--transition-duration) linear;

      &:hover {
        background-color: var(--orange);
      }
    }
    .details-btn {
      transition: color var(--transition-duration) linear;

      &:hover {
        color: var(--white);
      }
    }
    &:hover {
      box-shadow: var(--box-shadow);
    }
  }
}
@include max-screen-custom(757px) {
  .loans-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@include max-screen-custom(542px) {
  .buttons a {
    padding: 1.2rem 1.5rem;
    &.details-btn {
      padding: 1.1rem 1.6rem;
    }
  }
}

@include touch-phone() {
  .image-wrapper img {
    height: 3rem;
  }
  .loans-list {
    margin-top: 0;
    grid-gap: 0.3rem;
    article.loans-list-item {
      p {
        margin-top: 0.2rem;

        span {
          font-size: 1.2rem;
        }
      }
    }
  }
  .buttons {
    margin-top: 0.4rem;
    a {
      padding: 0.8rem 1.2rem;
      font-size: 1.3rem;
      &.get-money-btn {
        margin-right: 1rem;
      }
      &.details-btn {
        padding: 0.7rem 1.4rem;
      }
    }
  }
}
@include max-screen-custom(400px) {
  .loans-list {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  .image-wrapper img {
    height: 2.5rem;
  }
  article.loans-list-item {
    p {
      span {
        &.key {
          font-size: 1rem;
          margin-right: 1rem;
          min-width: auto;
        }
        &.value {
          white-space: normal;
        }
      }
    }
  }
  .buttons {
    margin-top: 0.4rem;

    a {
      padding: 0.6rem 0.3rem;
      font-size: 1.1rem;
      &.get-money-btn {
        margin-right: 0.5rem;
      }
      &.details-btn {
        padding: 0.5rem 1rem;
      }
    }
  }
}
