.services {
  justify-content: center;
  margin-top: 3.2rem;
  .content {
    flex-direction: row;
    flex-wrap: wrap;
    app-page-home-section-service-item {
      display: flex;
      flex-direction: column;
      margin-right: 2.8rem;
      margin-bottom: 2.8rem;
      width: 25.6rem;
    }
  }
}
