<section class="services">
  <app-page-home-section-service-item
    src="assets/images/home-page/services/cardlicence.svg"
    color="#5db9c6"
    alt="wallet"
    title="Вклады"
  ></app-page-home-section-service-item>
  <app-page-home-section-service-item
    src="assets/images/home-page/services/rate.svg"
    color="#9C56BD"
    alt="rate"
    title="Кредитный рейтинг"
  ></app-page-home-section-service-item>
  <app-page-home-section-service-item
    src="assets/images/home-page/services/office.svg"
    color="#E0992F"
    alt="mortgage "
    title="Ипотека"
  ></app-page-home-section-service-item>
  <app-page-home-section-service-item
    src="assets/images/home-page/services/cardinhand.svg"
    color="#56C04D"
    alt="loan rating"
    title="Кредитный рейтинг"
  ></app-page-home-section-service-item>
  <app-page-home-section-service-item
    src="assets/images/home-page/services/card.svg"
    color="#E47474"
    alt="debit cards"
    title="Дебетовые карты"
  ></app-page-home-section-service-item>
  <app-page-home-section-service-item
    src="assets/images/home-page/services/wallet.svg"
    color="#3B5597"
    alt="microloans"
    title="Микрозаймы"
  ></app-page-home-section-service-item>
</section>
