.tools-wrapper {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  background-color: #F7F7F7;
  padding: 1.1rem;
  margin-bottom:1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  p{
    color: #737b7d;
    margin-right:1rem;
  }
}
