@import 'src/app/shared/styles/_mixins';

.sorting-filter {
  .content {
    font-size: 1.4rem;
    p {
      font-style: italic;
    }
  }
}

@include desktop {
  .sorting-filter {
    margin-top: 3.1rem;
  }
  .content {
    .sorting-filter-list {
      display: flex;
      flex-direction: row;
      .sorting-filter-item {
        margin-right: 3.5rem;
        cursor: pointer;
        font-style: italic;
        transition: color var(--transition-duration) linear;
        &.active,
        &:hover {
          color: var(--main-green);
        }
        &:first-child {
          margin-left: 3rem;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@include touch {
  .sorting-filter {
    margin-top: 1.9rem;
  }
  .content {
    justify-content: left;
    ng-select {
      display: flex;
    }
  }
}
