<section [ngSwitch]="markup">
    <ul class="details-list">
        <li><button (click)="onClick('tariff')" type="button">Тарифы</button></li>
        <li><button (click)="onClick('info')" type="button">Общая информация</button></li>
        <li><button (click)="onClick('tools')" type="button">Инструменты</button></li>
    </ul>
    <ng-template ngSwitchCase="tools">
        <app-page-brokers-section-tools></app-page-brokers-section-tools>
    </ng-template>
    <ng-template ngSwitchCase="info">
        <app-page-brokers-section-information></app-page-brokers-section-information>
    </ng-template>
    <ng-template ngSwitchDefault>
        <app-page-brokers-section-tariff></app-page-brokers-section-tariff>
    </ng-template>




</section>