@import 'fonts';
@import 'app/shared/styles/variables';
/*@import 'app/shared/styles/select-styles';*/
@import 'app/shared/styles/media-queries';
// regular style toast
@import '~ngx-toastr/toastr';

.ngx-toastr {
  font-size: 1.2rem;
}

iframe {
  border: none;
}

* {
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    outline: none !important;
  }
}

html,
body {
  height: 100%;
}

html {
  font-family: 'Roboto', serif;
  font-size: 62.5%;
  line-height: 1.3;
}

body {
  min-width: 32rem;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 2;
}

.grayed-bg {
  background-color: var(--grey-section-background);
}
section.content {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

h2.section-header {
  width: 100%;
  font-weight: 500;
  text-align: left;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

h1 {
  line-height: 1.8rem;
}

h2 {
  line-height: 1.8rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.8rem;
}

p,
li {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
