<ng-container *ngIf="data">
  <a class='best-deals-item' href="">
    <article>
      <div class="caption">
        <div class="title-section">
          <h3>{{ data.title }}</h3>
          <p>{{ data.description }}</p>
        </div>
        <img src="{{ data.src }}" alt="{{ data.alt }}" />
      </div>
      <span class="divider"></span>
      <div class='padded-content'>
        <div class='details-list-item'>
          <p>{{ data.annualPercent }}%</p>
          <span>годовых</span>
        </div>
        <div class='details-list-item'>
          <p>{{ data.loanTermsDays }} дней</p>
          <span>срок кредитования</span>
        </div>
      </div>
      <div class="details-button-wrapper">
        <a class="details-button" href="">Подробнее</a>
      </div>
    </article>
  </a>
</ng-container>
