@import 'src/app/shared/styles/_mixins';

.details-list {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  border-top: 0.1rem solid #c4c4c4;
  margin-bottom: 3rem;
  padding-top: 2.7rem;
  & li {
    position: relative;
  }
  & button {
    border: none;
    background-color: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    color: #373f41;
    line-height: 1.6rem;
    cursor: pointer;
    margin: 0;
    &:hover::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 0.17rem;
      background-color: #737b7d;
      bottom: -0.7rem;
    }
  }
}

@include tablet {
  .details-list {
    justify-content: flex-start;
    & li {
      margin-right: 2rem;
    }
    & button {
      font-size: 1.6rem;
    }
  }
}
