@import 'src/app/shared/styles/_mixins';

footer {
  background-color: #455053;
  color: var(--white);
  margin-top: 3.3rem;
  .content {
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      flex: 1 1 30%;
      ::ng-deep app-navigation-links {
        li {
          margin-bottom: 1.4rem;
          a {
            font-weight: 500;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1 1 70%;

      ::ng-deep app-navigation-links {
        justify-content: right;
        nav {
          display: flex;
          li {
            display: flex;
            a {
              color: #b5b5b5;
              font-size: 1.2rem;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 4.4rem;

        app-social-icon {
          margin-right: 3rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .copyright {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

@include desktop {
  footer {
    padding: 3rem 0 5rem 0;
    .right {
      ::ng-deep nav {
        flex-direction: row;
        justify-content: flex-end;
        li {
          margin-left: 3.2rem;
        }
      }
      .copyright {
        margin-top: 5.6rem;
      }
    }
  }
}

@include touch {
  footer {
    padding: 3rem 0 5rem 0;
    ::ng-deep li {
      margin-left: 3.2rem;
    }
    .copyright {
      margin-top: 5.6rem;
    }
  }
}

@include touch-phone {
  footer {
    padding: 2.8rem 0 3.1rem 0;
    .content {
      text-align: center;
      flex-direction: column;
      ::ng-deep nav {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
        li {
          margin-left: 0;
          justify-content: center;
        }
      }
      .right {
        margin-top: 2rem;
      }
      .copyright {
        margin-top: 3.3rem;
      }
    }
  }
}
